#div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.btn{
  border: 3px solid;
  border-radius: 15px;
  background-color: beige;
  margin:3vh; 
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.2);
}

.chart{
  border: 2px solid;
  border-radius: 12px;
  padding-right: 3vw;
  padding-top: 5vh;
  margin-left: 12px;
}
